# Apply transformations to produce a summary table with the following fields:
- publication year,
- book_count published that year,
- average_price of books published that year in USD rounded to cents using convertion rate €1 = $1.2.

In [49]:
import re
import json
import pandas as pd

In [ ]:
{:id=>10292064894005717421, :title=>"Look Homeward, Angel", :author=>"Prof. Teressa Kautzer"}

In [ ]:
{"id":10292064894005717421, "title":"Look Homeward, Angel", "author":"Prof. Teressa Kautzer"}

In [50]:
input_file = "task_1_itransition.txt"

In [51]:
with open(input_file, "r", encoding="utf-8") as f_in:
    for line in f_in:
        line = re.sub(r':(\w+)', r'"\1"', line)
        line = line.replace("=>", ":")

In [52]:
data = json.loads(line)

In [53]:
df = pd.DataFrame(data)

In [54]:
df

,id,title,author,genre,publisher,year,price
0,10292064894005717421,"Look Homeward, Angel",Prof. Teressa Kautzer,Humor,Brill Publishers,2010,$87.25
1,13029911509625386835,The Yellow Meads of Asphodel,Domingo Weimann,Reference book,Sams Publishing,2018,$31.99
2,12880574241579659568,A Catskill Eagle,Dayle Orn,Comic/Graphic Novel,Apress,2011,€5.99
3,13301315742612799364,Der Richter und sein Henker,Elias von Kolb,Tall tale,Centaurus Verlag,1995,$75.00
4,16372759776603821045,After Many a Summer Dies the Swan,Carter Legros,Metafiction,University of Minnesota Press,2004,$52.0
...,...,...,...,...,...,...,...
4998,15650909608878256239,The Mirror Crack'd from Side to Side,Prof. Louie Nienow,Fantasy,Harvill Press at Random House,2014,$72.5
4999,18357749493040149348,A Monstrous Regiment of Women,"Osvaldo Kohler, Vonnie Veum",Essay,Athabasca University Press,1997,$56.00
5000,11143721204424825675,The Glory and the Dream,Miquel McDermott,Speech,SAGE Publications,1996,€66.99
5001,16950412001732284008,Sleep the Brave,Brandie Macejkovic,Horror,No Starch Press,2025,$29.00
5002,15192852979461794749,That Hideous Strength,Ms. Cassy Schinner,Narrative nonfiction,University of Minnesota Press,1999,$97.5

In [55]:
df.dtypes

id           uint64
title        object
author       object
genre        object
publisher    object
year          int64
price        object
dtype: object

In [56]:
df["price_usd"] = df["price"].where(df["price"].str.startswith("$"), "0")
df["price_euro"] = df["price"].where(df["price"].str.startswith("€"), "0")

In [57]:
df

,id,title,author,genre,publisher,year,price,price_usd,price_euro
0,10292064894005717421,"Look Homeward, Angel",Prof. Teressa Kautzer,Humor,Brill Publishers,2010,$87.25,$87.25,0
1,13029911509625386835,The Yellow Meads of Asphodel,Domingo Weimann,Reference book,Sams Publishing,2018,$31.99,$31.99,0
2,12880574241579659568,A Catskill Eagle,Dayle Orn,Comic/Graphic Novel,Apress,2011,€5.99,0,€5.99
3,13301315742612799364,Der Richter und sein Henker,Elias von Kolb,Tall tale,Centaurus Verlag,1995,$75.00,$75.00,0
4,16372759776603821045,After Many a Summer Dies the Swan,Carter Legros,Metafiction,University of Minnesota Press,2004,$52.0,$52.0,0
...,...,...,...,...,...,...,...,...,...
4998,15650909608878256239,The Mirror Crack'd from Side to Side,Prof. Louie Nienow,Fantasy,Harvill Press at Random House,2014,$72.5,$72.5,0
4999,18357749493040149348,A Monstrous Regiment of Women,"Osvaldo Kohler, Vonnie Veum",Essay,Athabasca University Press,1997,$56.00,$56.00,0
5000,11143721204424825675,The Glory and the Dream,Miquel McDermott,Speech,SAGE Publications,1996,€66.99,0,€66.99
5001,16950412001732284008,Sleep the Brave,Brandie Macejkovic,Horror,No Starch Press,2025,$29.00,$29.00,0
5002,15192852979461794749,That Hideous Strength,Ms. Cassy Schinner,Narrative nonfiction,University of Minnesota Press,1999,$97.5,$97.5,0

In [58]:
df ["price_usd"] = df["price_usd"].str.replace("$", "", regex=False).astype(float)
df ["price_euro"] = df["price_euro"].str.replace("€", "", regex=False).astype(float)

In [59]:
df

,id,title,author,genre,publisher,year,price,price_usd,price_euro
0,10292064894005717421,"Look Homeward, Angel",Prof. Teressa Kautzer,Humor,Brill Publishers,2010,$87.25,87.25,0.00
1,13029911509625386835,The Yellow Meads of Asphodel,Domingo Weimann,Reference book,Sams Publishing,2018,$31.99,31.99,0.00
2,12880574241579659568,A Catskill Eagle,Dayle Orn,Comic/Graphic Novel,Apress,2011,€5.99,0.00,5.99
3,13301315742612799364,Der Richter und sein Henker,Elias von Kolb,Tall tale,Centaurus Verlag,1995,$75.00,75.00,0.00
4,16372759776603821045,After Many a Summer Dies the Swan,Carter Legros,Metafiction,University of Minnesota Press,2004,$52.0,52.00,0.00
...,...,...,...,...,...,...,...,...,...
4998,15650909608878256239,The Mirror Crack'd from Side to Side,Prof. Louie Nienow,Fantasy,Harvill Press at Random House,2014,$72.5,72.50,0.00
4999,18357749493040149348,A Monstrous Regiment of Women,"Osvaldo Kohler, Vonnie Veum",Essay,Athabasca University Press,1997,$56.00,56.00,0.00
5000,11143721204424825675,The Glory and the Dream,Miquel McDermott,Speech,SAGE Publications,1996,€66.99,0.00,66.99
5001,16950412001732284008,Sleep the Brave,Brandie Macejkovic,Horror,No Starch Press,2025,$29.00,29.00,0.00
5002,15192852979461794749,That Hideous Strength,Ms. Cassy Schinner,Narrative nonfiction,University of Minnesota Press,1999,$97.5,97.50,0.00

In [60]:
df.dtypes

id             uint64
title          object
author         object
genre          object
publisher      object
year            int64
price          object
price_usd     float64
price_euro    float64
dtype: object

In [61]:
df.to_csv("task_1_processed_data.csv", index=False, encoding="utf-8")